<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Raleway|Syncopate" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha3
	84-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script
	    src="https://code.jquery.com/jquery-3.2.1.min.js"
	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	    crossorigin="anonymous">
	</script>

</head>

<body>


	<style>

	.hidden_class {
		display: none;
	}

	#invite {
		font-family: lobster;
		font-size: 20px;
	}

	</style>
	<div class="container">
		<div class="row">
			<div>
				<select id="colorSelect">
					<option value="x">
						Change Color
					</option>

					<option value="#478dff">
						Blue
					</option>

					<option value="#ff5bb0">
						Pink
					</option>

					<option value="white">
						White
					</option>

					<option value="silver">
						Silver
					</option>
				</select>
			</div>
			<div id="step_0" class="wrapperSteps col-xs-12 col-md-offset-4 col-md-4">

				<p id="invite">
					It is with great gratitude to G-d that we invite you to celebrate Emma Witmer's
					Bat Mitzvah. 11:30am on Feb 18 2018 at Manzo's Banquets and Catering, 1571 S Elmhurt
					Rd, Des Plaines, IL 60018.
					<br>
					<br>
					Please press next and answer a few questions to RSVP! :)
				</p>


			</div>

			<div id="step_1" class="hidden_class wrapperSteps col-xs-12 col-md-offset-4 col-md-4">

				<h3>How many people are coming in your party?</h3>

				<form>

					<input type="radio" name="pplComing" class="numOfPpl" value="1"> 1

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="2"> 2

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="3"> 3

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="4"> 4

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="5"> 5

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="6"> 6

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="7"> 7

					<br>

					<input type="radio" name="pplComing" class="numOfPpl" value="8"> 8

				</form>

			</div>

			

			<div id="step_2" class="hidden_class wrapperSteps col-xs-12 col-md-offset-4 col-md-4">

				<h3>Please enter the first name(s) of the person/people coming in your party?</h3>

				<div id="nameInputDivs">
				</div>

			</div>

			<div id="step_3" class="hidden_class wrapperSteps col-xs-12 col-md-offset-3 col-md-6">

				<h3>Now, Lets talk diet.</h3>

				<p>Check all that apply for each person</p>

				<div id="dietCheckBoxDiv"></div>

				


			</div>

			<div id="step_4" class="hidden_class wrapperSteps col-xs-12 col-md-offset-3 col-md-5">
				<h3>
					Please double check that everything looks right.
				</h3>
				<!-- <p>
					If so, please take a screenshot and send it to 312-523-1609
				</p> -->

				<div id="isThisGood">
					
				</div>
			</div>

			<div id="step_5" class="hidden_class wrapperSteps col-xs-12 col-md-offset-4 col-md-4">

				<h3>Thanks for RSVPing!</h3>

				<p>Did you know that Emma Witmer (the Bat Mitzvah) made this website?</p>

				<p>We can't wait to see you at <a href="https://www.google.com/maps/place/Manzo's+Banquets+%26+Catering/@42.023
				4768,-87.9418855,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x30d7f00a71eff93d!8m2!3d42.0234768!4d-87.9396968">
				Manzo's Banquets and Catering</a> on Feb 18th 2018 at
				11:30am</p>

			</div>

			<div id="buttons" class="col-xs-12 col-md-offset-4 col-md-4">

				<button type="button" class="btn btn-default btn-lg col-xs-6" id="prevButt">BACK</button>

				<button type="button" class="btn btn-default btn-lg col-xs-6" id="nextButt">NEXT</button>

			</div>
		</div>
	</div>




<script>
var alreadyRSVPed = <%- JSON.stringify(alreadyRSVPed) %>;
var familyName = '<%- familyName %>';

$(document).ready(function(){

	var now_showing = 0;
	var RSVParray; 


	function nextStep() {
		console.log("YAY!! IT WORKS!");
		var RSVPsteps = document.querySelectorAll(".wrapperSteps");
		var numOfSteps = RSVPsteps.length;

		if (now_showing <= (numOfSteps - 2) ) {
			var idToHide = "step_" + now_showing;
			document.getElementById(idToHide).style.display = "none";
			now_showing ++;
			var idToShow = "step_" + now_showing;
			document.getElementById(idToShow).style.display = "initial";
		}
		console.log("now_showing: ", now_showing);

		if (now_showing == 3) {
			dietQs();
		}

		if (now_showing == 4) {
			doubleCheck();
		}

		if (now_showing == 5) {
			console.log("this works! yay!!")
			document.getElementById("nextButt").style.display = "none";
			document.getElementById("prevButt").style.display = "none";
			sendToServer();
		}
	}

	function sendToServer () {
		$.ajax({
			method	: "POST",
			url		: "/submit_rsvp_data",
			data 	: {data : JSON.stringify(RSVParray), familyName : familyName},
			dataType: "json",
			success : function (data, textStatus) {
				console.log("data: ", data);
				console.log("textStatus: ", textStatus);
			},
			error   : function (jqxhr, textStatus, err) {
				console.log("err: ", err);
				console.log("jqxhr: ", jqxhr);
				console.log("textStatus: ", textStatus);
			}
		});
	}
				
	function doubleCheck() {
		var nameInputs = document.querySelectorAll(".inputClass");
		var myHTML = "";
		RSVParray = [];
		for (var i = 0; i < nameInputs.length; i++) {
			var name = nameInputs[i].value;
			myHTML += "<p>" + name + ": &nbsp ";
			var personObj = {firstName : name};
			var checkboxArray = document.querySelectorAll("." + name);
			var diets = 0;
			for (var p = 0; p < checkboxArray.length; p++) {
				if (checkboxArray[p].checked) {
					diets++;
					personObj[checkboxArray[p].dataset.diet] = true;
					if (diets > 1) {
						myHTML += ", ";
					}
					if (checkboxArray[p].dataset.diet == 'glutenFree') {
						myHTML += "gluten free";
					} else if (checkboxArray[p].dataset.diet == 'dairyFree') {
						myHTML += "dairy free";
					} else if (checkboxArray[p].dataset.diet == 'lowCarb') {
						myHTML += "low carb";
					} else {
						myHTML += checkboxArray[p].dataset.diet;
					}

				}
			}
			RSVParray.push(personObj);
			myHTML += "</p>";
		}
		console.log("RSVParray", RSVParray);
		document.getElementById("isThisGood").innerHTML = myHTML;
	}

	function lastStep() {
		console.log("the back button works!");
		var RSVPsteps = document.querySelectorAll(".wrapperDiv");
		var numOfSteps = RSVPsteps.length;
		console.log("now_showing: ", now_showing);
		console.log("numOfSteps + 2: ", numOfSteps +2);

		if ( now_showing >= 1 ) {
			var idToHide = "step_" + now_showing;
			document.getElementById(idToHide).style.display = "none";
			now_showing --;
			var idToShow = "step_" + now_showing;
			document.getElementById(idToShow).style.display = "initial";

		}
	}

	function dietQs() {
		var nameInputs = document.querySelectorAll(".inputClass");
		console.log("nameInputs: ", nameInputs);
		var pplInputs = "";
		
		for (var i = 0; i < nameInputs.length; i++) {
			console.log("nameInputs[i]:", nameInputs[i].value);
			pplInputs += '<p> <span style="font-weight: bold">' + nameInputs[i].value + ': </span> \
						<input class="' + nameInputs[i].value + '" data-diet="kosher" type="checkbox"> Kosher &nbsp\
						<input class="' + nameInputs[i].value + '" data-diet="glutenFree" type="checkbox"> Gluten free &nbsp;\
						<input class="' + nameInputs[i].value + '" data-diet="lowCarb" type="checkbox"> Low carb &nbsp\
						<input class="' + nameInputs[i].value + '" data-diet="vegetarian" type="checkbox"> Vegetarian &nbsp\
						<input class="' + nameInputs[i].value + '" data-diet="dairyFree" type="checkbox"> Dariy free</p>';
		}

		document.getElementById("dietCheckBoxDiv").innerHTML = pplInputs;
	}

	$("#nextButt").on("click", nextStep);

	$("#prevButt").on("click", lastStep)

	$(".numOfPpl").on("click", function(e) {
		console.log("Someone just clicked one of these checkboxes");
		console.log("here is the e that was passed to the click handler: ", e);
		console.log("This should be the number that was clicked: ", e.target.value);
		loadInputs(e.target.value);
	});

	function loadInputs (numOfInputs) {
		console.log("numOfInputs: ", numOfInputs);
		var myString = "<form>";

		for (var i = 0; i < numOfInputs; i++) {
			myString += "<div class='form-group'>\
						<input type='text' class='form-control inputClass' placeholder='Name'>\
						</div>";
		}

		myString += "</form>";
		console.log(myString);
		document.getElementById("nameInputDivs").innerHTML = myString;
	}

	$("#colorSelect").on("change", function(e){
		console.log("this.value: ", this.value);

		if (this.value != "x") {
			document.body.style.backgroundColor = this.value
		}
	});

	



});

// function blueButt() {
// 	document.body.style.backgroundColor = "#478dff";
// }

// function pinkButt() {
// 	document.body.style.backgroundColor = "#ff5bb0";
// }

// function whiteButt() {
// 	document.body.style.backgroundColor = "white";
// }

// function silverButt() {
// 	document.body.style.backgroundColor = "silver";
// }
</script>







<!-- <button type="button" onclick="blueButt()">Click here to have the back ground blue</button>

<button onclick="pinkButt()" id="Pink">Click here to have the back-ground pink.</button>

<button onclick="whiteButt()" id="White">Click here to have the back-ground white.</button>

<button onclick="silverButt()" id="Silver">Click here to have the back-ground sliver.</button> -->

</body>

</html>